:root {
  --cor-primaria-1: hsl(35, 77%, 62%);
  --cor-primaria-2: hsl(5, 85%, 63%); 
  --cor-neutro-1: hsl(235, 8%, 69%);
  --cor-neutro-2: hsl(236, 13%, 42%);
  --cor-neutro-3: hsl(240, 100%, 5%);
}
body {
  
  font-family: 'Inter', monospace;
  background-color: hsl(36, 100%, 99%);
}
h1, h2, h3, p, ul {
  margin: 0;
}
img {
  margin: 0;
  padding: 0;
}
ul {
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  display: block;
  height: auto;
}
p {
  color: var(--cor-neutro-2);
  font-size: 0.94rem;
}

.container-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.header-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

.logo-mobile {
  display: none;
}
.menu-mobile {
  display: none;
}
.header-menu a {
  color: var(--cor-neutro-1);
  font-weight: 400;
}
.header-menu a:hover{
  color: var(--cor-primaria-2);
}

.img-mobile {
  display: none;
}

.noticias {
  display: grid;
  grid-template-columns: 1fr minmax(300px, 350px);
  gap: 20px;
  margin-bottom: 60px;
}
.noticia-principal {
  grid-column: 1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  max-height: 400px;
}
.pNoticia {
  grid-column: 2;
  grid-row: 1;
  place-self: start;
  width: 40ch;
  line-height: 1.5rem;
}

.botao {
  grid-column: 2;
  grid-row: 1;
  padding: 10px;
  width: 150px;
  background-color: var(--cor-neutro-3);
  color: #fff;
  text-align: center;
  align-self: end;
  justify-self: start;
}
.botao:hover{
  background-color: var(--cor-primaria-2);
}

.titulo-1 {
  color: var(--cor-neutro-3);
  font-weight: bolder;
  font-size: 4rem;
}

.lista-de-noticias {
  grid-row: 1 / 3;
  grid-column: 2;
  background-color: var(--cor-neutro-3);
  padding: 20px;
}
.lista-de-noticias h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: var(--cor-primaria-1);
}
.lista-de-noticias li:not(:last-child) {
  margin-bottom: 32px;
}
.lista-de-noticias a {
  font-size: 1.2rem;
  color: #fff;
}
.lista-de-noticias a:hover {
  color: var(--cor-primaria-1);
}
.lista-de-noticias p {
  margin-top: 10px;
  color: var(--cor-neutro-1);
  font-weight: 100;
}
.lista-de-noticias li:not(:first-child) {
  width: 100%;
  border-top: 1px solid var(--cor-neutro-1);
  padding-top: 20px;
}

.container-cards {
  display: flex;
  justify-content:space-between;
  margin-bottom: 40px;
  gap: 8px;
}

.card {
  display: grid;
  grid-template-columns: 120px 1fr;
  gap: 8px;
}

.conteudo-card h2, a, p {
  margin-bottom: 8px;
}

.conteudo-card h2 {
  font-size: 2rem;
  color: var(--cor-neutro-1);
}
.conteudo-card a {
  display: block;
  font-size: 1.2rem;
  font-weight: bolder;
  color: var(--cor-neutro-3);
}
.conteudo-card a:hover {
  color: var(--cor-primaria-2);
}
.conteudo-card p {
  font-size: 1rem;
  width: 25ch;
}

@media (max-width: 400px) {
  body {
    margin: 10px 10px;

  }
  .menu-mobile {
    display: flex;
    justify-content: space-between;
  }
  .menu-hamburger {
    display: flex;
    flex-direction: column;
    gap: 2px;
  }
  .linha {
    height: 2px;
    width: 20px;
    background: black;
    border-radius: 2px;
  }  
  .container-header {
    display: none;
  }
  .logo-mobile {  
    display: block;
  }
  .noticias {
    display: initial;
  }  
  .img-desktop {
    display: none;
  }
  .img-mobile {
    display: block;
  
    height: auto;
  }
  .noticia-principal {
    display: initial;
  }
  .titulo-1 {
    font-size: 2rem;
    margin-top: 20px;
  }
  .pNoticia {
    grid-column: 1;
    margin-bottom: 12px;
    margin-top: 12px;
    font-size: .5rem;
    line-height: normal;
  }
  .botao {
    display: block;
    margin-bottom: 40px;
  }
  .lista-de-noticias {
    display: block;
    margin-bottom: 40px;
  }
  .container-cards {
    flex-direction: column;
  }
  .card {
    grid-template-columns: 150px 150px;
  }
  .conteudo-card p {
    font-size: .6rem;
  }
}  