* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #d5e1ef;
}

.botao-voltar {
  display: inline-block;
  text-decoration: none;
  font-weight: bolder;
  color: #000648;
  border-radius: 4px;
  margin: 30px 60px;
  padding: 10px 15px;
  background-image: linear-gradient( to bottom, #1B2CEB, #077cc5, #0F9CF6);
  box-shadow: 1px 1px 4px rgb(160, 160, 160);
}

img {
  display: block;
  max-width: 100%;
  border-radius: 10px;
}

.conteudo {
  width: 300px;
  height: 100%;
  margin: 60px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 20px;
  display: grid;
  gap: 10px;
  place-content: center;
  justify-items: center;
}

p{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  text-align: center;
}
.destaque {
  color: #293a50;
  font-weight: 700;
  max-width: 40ch;
}

p + p {
  color: #cdd1de;
  font-weight: 400;
  max-width: 40ch;
}

.attribution {
  text-align: center;
}